@charset "UTF-8";

*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Hanken Grotesk", sans-serif;
}

// Primary
$Light-red: hsl(0, 100%, 67%);
$Orangey-yellow: hsl(39, 100%, 56%);
$Green-teal: hsl(166, 100%, 37%);
$Cobalt-blue: hsl(234, 85%, 45%);

// background
$Light-slate-blue: hsl(252, 100%, 67%);
$Light-royal-blue: hsl(241, 81%, 54%);

// result circle
$Violet-blue: hsla(256, 72%, 46%, 1);
$Persian-blue: hsla(241, 72%, 46%, 0);

// Neutral
$White: hsl(0, 0%, 100%);
$Pale-blue: hsl(221, 100%, 96%);
$Light-lavender: hsl(241, 100%, 89%);
$Dark-gray-blue: hsl(224, 30%, 27%);

@mixin flex-center{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    // gap: 1rem;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: $Light-lavender;
    // @include flex-center;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

p{
    font-size: 18px;
}

.container{
    width: 90%;
    border-radius: .4rem;
    @include flex-center;
    background-color: $White;
    border-radius: 1.2rem;

    .container-result{
        padding: 1.2rem;
        @include flex-center;
        background-image: linear-gradient(to bottom,$Light-slate-blue, $Light-royal-blue);
        border-radius: 1.2rem;
        gap: 1rem;

        h2{
            color: $Pale-blue;
        }

        h3{
            color: $Light-lavender;
        }

        p{
            text-align: center;
            color: $Light-lavender;
        }

        .container-result-cicle{
            flex: 0 0 120px;
            width: 120px;
            border-radius: 50%;
            background-image: linear-gradient(to top,$Light-slate-blue, $Light-royal-blue);
            @include flex-center;
            gap: .3rem;

            h1{
                color: $White;
            }
        }
    }

    .container-summary{
        @include flex-center;
        gap: 1rem;
        padding: 1.2rem;
        width: 100%;

        h2{
            align-self: flex-start;
        }

        .container-summary-result{
            width: 100%;
            display: flex;
            flex-flow: column wrap;
            gap: 1rem;

            .result-box{
                display: flex;
                justify-content: space-between;
                padding: 12px 18px;
                border-radius: .4rem;
                transition: all .6s ease-in-out;

                &:hover{
                    background-color: $Light-slate-blue;
                }
            }
        }

        button{
            width: 100%;
            display: block;
            color: $Pale-blue;
            border: none;
            border-radius: 1.2rem;
            background-color: $Dark-gray-blue;
            padding: 12px 18px;
            transition: all .6s ease-in-out;

            &:hover{
                background-image: linear-gradient(to top,$Light-slate-blue, $Light-royal-blue);
                color: $White;
            }
        }
    }
}